tbody tr th {
	font-weight: 400;
	font-style: italic;
}

tbody tr td:nth-child(2) {
	color: red;
}


tbody tr td:nth-child(4) {
	color: blue;
}

tbody tr:nth-child(2n) {

	background-color: lightgreen;
}